<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USER PICTURE -->
				<div class="profile-userpic">
					<img src="<%= currentUser.imageUrl %>" class="img-responsive">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<%= currentUser.fullName%>
					</div>
					<div class="profile-usertitle-job">
						Doggie Lover
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">
					  Update Picture
					</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
              <a href="#" data-toggle="modal" data-target="#newPet"><i class="fa fa-plus"></i>
                Register Pet
              </a>
						</li>
						<li>
              <a href="#" data-toggle="modal" data-target="#newAppointment"><i class="fa fa-plus"></i>
                New Appointment
              </a>
						</li>
            <li>
							<a href="#" target="_blank"><i class="fa fa-star"></i>
							  Service Packages Details
              </a>
						</li>
						<li>
							<a href="#" target="_blank"><i class="fa fa-star"></i>
							  Week's Promotions
              </a>
						</li>
						<li>
							<a href="#">
							<i class="fa fa-sign-out"></i>
							  Log Out
              </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
      <div class="profile-content">
        <!-- APPOINTMENTS SECTION -->
        <h3> Appointments </h3>
        <div class="row">
          <% myBookings.forEach((booking) => { %>
            <div class="col-md-4">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <% const dateArray = booking.appointmentDate.toDateString().split(' ') %>
                  <p> <%= dateArray[1] %> </p>
                  <p> <%= dateArray[0] %>, <%= dateArray[2] %> </p>
                </div>
                <div class="panel-body">
                  <p> For <%= booking.petsName %>, <%=booking.chosenPackage %> Package </p>
                  <a href="/dashboard/bookings/<%= booking._id %>/delete">
                    <i class="fa fa-trash"></i>
                  </a>
                  <a href="/dashboard/bookings/<%= booking._id %>/edit">
                    <i class="fa fa-pencil"></i>
                  </a>
                </div>
              </div>
        	  </div>
          <% }); %>
        </div>

        <!-- PETS SECTION -->
        <h3> My Pets </h3>
        <p> Registered pets get a free soothing massage every 5 grooming sessions </p>
        <div class="row">
          <% myPets.forEach((pet) => { %>
            <div class="col-md-4">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <img src="<%= pet.imageUrl %>" class="img-responsive">
                </div>
                <div class="panel-body">
                  <p> <%= pet.petsName %> </p>
                  <p>
                    <%= pet.petsBreed %>, <%= pet.petsAge %>
                    <% if (pet.petsAge === 1) { %>
                      year old.
                    <% } else { %>
                      years old.
                    <% } %>
                  </p>
                  <a href="/dashboard/pets/<%= pet._id %>/delete">
                    <i class="fa fa-trash"></i>
                  </a>
                  <a href="/dashboard/pets/<%= pet._id %>/edit">
                    <i class="fa fa-pencil"></i>
                  </a>
                </div>
              </div>
        	  </div>
          <% }); %>
        </div>

      </div>
		</div>
	</div>
</div>




<!--services-->
<section id="service" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">

        <!--==============SERVICES================-->
        <h2 class="ser-title">Our Services</h2>
        <hr class="botm-line">
        <p>
          We are commited to treat your dogs as our guests. Not only the best
          ingredients will be used in their grooming but they will
          also have the best treatment.
        </p>
        <p> We love dogs, this is why we do what we do. </p>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-check-circle"></i>
          </div>
          <div class="icon-info">
            <h4> BASIC PACKAGE </h4>
            <ul>
              <li> Gentle Bath </li>
              <li> Trimming of the Eye, Sanitary, and Pawpads Areas </li>
              <li> Nail Filing </li>
              <li> Ear Cleaning and Plucking </li>
              <li> Expression of the Anal Glands </li>
              <li> Fluff-Out Gentle Drying </li>
              <li> Natural Cologne </li>
              <li> Bandana or Bow </li>
            </ul>
            <p> $40: XS-S (Under 15lbs) </p>
            <p> $48: M-L (Under 40lbs) </p>
            <p> $58: XL-XXL (Under 100lbs) </p>
          </div>
        </div>

        <div class="service-info">
          <div class="icon">
            <i class="fa fa-check-circle"></i>
          </div>
          <div class="icon-info">
            <h4> PREMIUM PACKAGE </h4>
            <p> Everything in the Basic Package plus: </p>
            <ul>
              <li> Stylish Haircut </li>
              <li> Teeth Brushing </li>
            </ul>
            <p> $50: XS-S (Under 15lbs) </p>
            <p> $58: M-L (Under 40lbs) </p>
            <p> $68: XL-XXL (Under 100lbs) </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="service-info">
          <div class="icon">
            <i class="fa fa-check-circle"></i>
          </div>
          <div class="icon-info">
            <h4> ADD-ONS </h4>
            <p> Add any extra service to the package of choice: </p>
            <ul>
              <li> Nail Painting </li>
              <li> Extra Brushing (Dematting) </li>
              <li> De-shedding </li>
              <li> Flea Dip </li>
              <li> Chalking </li>
              <li> Feathering </li>
              <li> Stenciling </li>
              <li> Three Profesionally Taken Pictures </li>
            </ul>
            <p> +$10 each </p>
          </div>
        </div>

        <div class="service-info">
          <div class="icon">
            <i class="fa fa-check-circle"></i>
          </div>
          <div class="icon-info">
            <h4> DELUXE PACKAGE </h4>
            <p> Everything in the Premium Package plus: </p>
            <ul>
              <li> Soothing Massage </li>
              <li> Professionally Taken Picture </li>
            </ul>
            <p> $60: XS-S (Under 15lbs) </p>
            <p> $70: M-L (Under 40lbs) </p>
            <p> $80: XL-XXL (Under 100lbs) </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!--==============END OF SERVICES================-->
